footer {
  background: $primary;
  color: #fff;
  text-align: center;
  padding: 3rem 0;

  a {
    font-style: italic;
    text-decoration: underline;
    color: $light-grey;
  }

  p:first-child {
    margin-bottom: 0.6rem;
  }
}
